body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Adjusted to space between content and footer */
    min-height: 100vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0;
    background-color: #111; /* Set the background color to black */
}

img {
    max-width: 5%; /* Adjust the size as needed */
    height: auto;
    margin-top: 20px; /* Add margin above the logo */
    margin-bottom: 20px; /* Add margin below the logo */
    border-radius: 10px; /* Set rounded corners */
    transition: transform 0.5s ease; /* Longer duration for a smoother transition */
}

img:hover {
    transform: scale(1.1); /* Scale up by 1.1 on hover */
}

.embed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #282828; /* Set the initial background color to a dark shade */
    color: white;
    border-radius: 10px; /* Set rounded corners */
}

.embed button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    font-size: inherit;
    margin-top: 10px; /* Add margin above the button */
}

.embed button:hover {
    color: #4CAF50; /* Change text color to green on hover */
}

.discord-widget {
    margin-top: 20px; /* Add margin above the Discord widget */
}

footer {
    text-align: center;
    background-color: #282828; /* Match the background color of the .embed */
    color: white;
    padding: 10px;
    width: 100%; /* Make the footer span the entire width */
    font-family: 'Arial', sans-serif; /* Set the font for the footer */
}



